body{
    background-image: url(images/background3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

#header{
    text-align: center;
}

#info{
    text-align: right;
    padding-left: 60%;
    padding-right: 5%;
    padding-top: 3%;
}

#random{
    text-align: right;
    padding-left: 60%;
    padding-right: 5%;
    padding-top: 2%;
}

#claudio{
    text-align: right;
    padding-left: 60%;
    padding-right: 5%;
    padding-top: 2%;
}

img{
    align-items: center;
}

.covers{
    height: 30%;
    width: 30%;
    padding-top: 2%;
    padding-left: 50%;
}

.band{
    height: 30%;
    width: 30%;
    padding-top: 2%;
    padding-left: 50%;
}

.pfi{
    height: 20%;
    width: 30%;
    padding-top: 2%;
    padding-left: 50%;
}

nav{
    text-align: center;
}